In [1]:
import spacy
import fr_dep_news_trf
nlp_fr = fr_dep_news_trf.load()

/Users/tnascimento/Pessoal/repos/dataplatform/venv/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
data = {
    "Les 120 journées de Sodome": "Les cent cinquante passions simples, ou de première classe, composant les trente journées de novembre remplies par la narration de la Duclos, auxquelles sont entremêlés les événements scandaleux du château, en forme de journal, pendant ce mois-là."
}

In [5]:
nlp = spacy.load("fr_dep_news_trf")

doc = nlp(data["Les 120 journées de Sodome"])

# print([(w.text, w.pos_) for w in doc])

In [6]:
pos_ = [(w.text, w.pos_) for w in doc]
print(pos_)

[('Les', 'DET'), ('cent', 'NUM'), ('cinquante', 'NUM'), ('passions', 'NOUN'), ('simples', 'ADJ'), (',', 'PUNCT'), ('ou', 'CCONJ'), ('de', 'ADP'), ('première', 'ADJ'), ('classe', 'NOUN'), (',', 'PUNCT'), ('composant', 'VERB'), ('les', 'DET'), ('trente', 'NUM'), ('journées', 'NOUN'), ('de', 'ADP'), ('novembre', 'NOUN'), ('remplies', 'VERB'), ('par', 'ADP'), ('la', 'DET'), ('narration', 'NOUN'), ('de', 'ADP'), ('la', 'DET'), ('Duclos', 'PROPN'), (',', 'PUNCT'), ('auxquelles', 'PRON'), ('sont', 'AUX'), ('entremêlés', 'VERB'), ('les', 'DET'), ('événements', 'NOUN'), ('scandaleux', 'ADJ'), ('du', 'ADP'), ('château', 'NOUN'), (',', 'PUNCT'), ('en', 'ADP'), ('forme', 'NOUN'), ('de', 'ADP'), ('journal', 'NOUN'), (',', 'PUNCT'), ('pendant', 'ADP'), ('ce', 'DET'), ('mois', 'NOUN'), ('-là', 'NOUN'), ('.', 'PUNCT')]

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(pos_)

In [9]:
df.head()

           0     1
0        Les   DET
1       cent   NUM
2  cinquante   NUM
3   passions  NOUN
4    simples   ADJ

In [10]:
df.columns = ["name", "pos"]

In [11]:
df.head()

        name   pos
0        Les   DET
1       cent   NUM
2  cinquante   NUM
3   passions  NOUN
4    simples   ADJ

In [15]:
df["pos"].value_counts()

NOUN     11
ADP       8
DET       6
PUNCT     6
NUM       3
ADJ       3
VERB      3
CCONJ     1
PROPN     1
PRON      1
AUX       1
Name: pos, dtype: int64

In [26]:
for pos in df:
    print(type(pos))

<class 'str'>
<class 'str'>

In [30]:
df[df["pos"] == 'VERB']

          name   pos
11   composant  VERB
17    remplies  VERB
27  entremêlés  VERB