# Pessoas mais recas do Brasil

# Dados

In [12]:
import pandas as pd

In [13]:
url =  "https://pt.wikipedia.org/wiki/Lista_das_pessoas_mais_ricas_do_Brasil"

data = pd.read_html(url)

In [14]:
df = data[10]
df.head()

    Nº                  Nome          Fortuna  Fonte da fortuna
0  1.ª  André Santos Esteves  R$ 39,5 bilhões     Banco Pactual
1  2.ª   Vicky Sarfati Safra    R$ 37 bilhões       Banco Safra
2  3.ª  Jacob Safra e irmãos  R$ 35,5 bilhões       Banco Safra
3  4.ª  Pedro Moreira Salles    R$ 14 bilhões     Unibanco/CBMM
4  5.ª   Guilherme Benchimol  R$ 13,6 bilhões  XP Investimentos

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nº                10 non-null     object
 1   Nome              10 non-null     object
 2   Fortuna           10 non-null     object
 3   Fonte da fortuna  10 non-null     object
dtypes: object(4)
memory usage: 448.0+ bytes

In [16]:
df.describe()

         Nº                  Nome          Fortuna Fonte da fortuna
count    10                    10               10               10
unique   10                    10                7                5
top     1.ª  André Santos Esteves  R$ 13,5 bilhões    Unibanco/CBMM
freq      1                     1                3                4

# Variável "Fortuna"

In [24]:
pd.DataFrame(df["Fortuna"])

           Fortuna
0  R$ 39,5 bilhões
1    R$ 37 bilhões
2  R$ 35,5 bilhões
3    R$ 14 bilhões
4  R$ 13,6 bilhões
5  R$ 13,5 bilhões
6  R$ 13,5 bilhões
7  R$ 13,5 bilhões
8  R$ 11,5 bilhões
9  R$ 11,5 bilhões

## Criando nova coluna "Fortuna_" com valores numéricos

In [25]:
data = []
for row in df.itertuples():
    fortuna = getattr(row, "Fortuna")
    fortuna = fortuna[3:]
    fortuna = fortuna[:-8]
    fortuna = fortuna.replace(",", ".")
    print(fortuna)
    data.append(fortuna)

39.5
37
35.5
14
13.6
13.5
13.5
13.5
11.5
11.5

In [26]:
data

['39.5', '37', '35.5', '14', '13.6', '13.5', '13.5', '13.5', '11.5', '11.5']

In [27]:
df["Fortuna_"] = data

In [28]:
df.head()

    Nº                  Nome          Fortuna  Fonte da fortuna Fortuna_
0  1.ª  André Santos Esteves  R$ 39,5 bilhões     Banco Pactual     39.5
1  2.ª   Vicky Sarfati Safra    R$ 37 bilhões       Banco Safra       37
2  3.ª  Jacob Safra e irmãos  R$ 35,5 bilhões       Banco Safra     35.5
3  4.ª  Pedro Moreira Salles    R$ 14 bilhões     Unibanco/CBMM       14
4  5.ª   Guilherme Benchimol  R$ 13,6 bilhões  XP Investimentos     13.6

In [32]:
df["Fortuna_"] = pd.to_numeric(df["Fortuna_"])

## Coluna "Fortuna_"

In [33]:
df["Fortuna_"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: Fortuna_
Non-Null Count  Dtype
--------------  -----
10 non-null     float64
dtypes: float64(1)
memory usage: 208.0 bytes

In [34]:
df["Fortuna_"]

0    39.5
1    37.0
2    35.5
3    14.0
4    13.6
5    13.5
6    13.5
7    13.5
8    11.5
9    11.5
Name: Fortuna_, dtype: float64