In [1]:
import pandas as pd

In [3]:
contos_fluminenses_csv_path = '../data_warehouse/machado_de_assis/conto/contosFluminenses.csv'
df = pd.read_csv(contos_fluminenses_csv_path)
df.head()

,Unnamed: 0,text,lemma,pos,tag,morph,ent_type,is_punct,dep,sentiment
0,0,Contos,conto,NOUN,NOUN,Gender=Masc|Number=Plur,MISC,False,ROOT,0.0
1,1,Fluminenses,Fluminenses,ADJ,ADJ,Gender=Masc|Number=Plur,MISC,False,nummod,0.0
2,2,\n\n,\n\n,SPACE,SPACE,NaN,NaN,False,dep,0.0
3,3,ÍNDICE,ÍNDICE,NOUN,NOUN,Gender=Masc|Number=Plur,NaN,False,ROOT,0.0
4,4,\n,\n,SPACE,SPACE,NaN,NaN,False,dep,0.0

## Tarefa: remover a colunas 'Unnamed: 0' e 'sentiment'

Essas colunas foram removidas por quê?

In [4]:
df = df.drop(columns=['Unnamed: 0', 'sentiment'])
df.head()

,text,lemma,pos,tag,morph,ent_type,is_punct,dep
0,Contos,conto,NOUN,NOUN,Gender=Masc|Number=Plur,MISC,False,ROOT
1,Fluminenses,Fluminenses,ADJ,ADJ,Gender=Masc|Number=Plur,MISC,False,nummod
2,\n\n,\n\n,SPACE,SPACE,NaN,NaN,False,dep
3,ÍNDICE,ÍNDICE,NOUN,NOUN,Gender=Masc|Number=Plur,NaN,False,ROOT
4,\n,\n,SPACE,SPACE,NaN,NaN,False,dep

## Tarefa: renomear os nomes das colunas

In [5]:
df.columns

Index(['text', 'lemma', 'pos', 'tag', 'morph', 'ent_type', 'is_punct', 'dep'], dtype='object')

In [6]:
df.columns = ['texto', 'lemma', 'pos', 'tag', 'morph', 'ent_type',
       'is_punct', 'dep']

In [7]:
df.head()

,texto,lemma,pos,tag,morph,ent_type,is_punct,dep
0,Contos,conto,NOUN,NOUN,Gender=Masc|Number=Plur,MISC,False,ROOT
1,Fluminenses,Fluminenses,ADJ,ADJ,Gender=Masc|Number=Plur,MISC,False,nummod
2,\n\n,\n\n,SPACE,SPACE,NaN,NaN,False,dep
3,ÍNDICE,ÍNDICE,NOUN,NOUN,Gender=Masc|Number=Plur,NaN,False,ROOT
4,\n,\n,SPACE,SPACE,NaN,NaN,False,dep

## Tarefa: Valores

### Valores da coluna [tag]

In [8]:
colum_tag = df.tag
colum_tag.value_counts(normalize=True) * 100

PUNCT    15.587047
NOUN     14.868833
VERB     13.187025
ADP       9.323004
DET       9.048676
SPACE     8.475207
PRON      5.714010
ADV       5.667140
PROPN     3.994982
ADJ       3.869536
SCONJ     3.243683
AUX       3.054824
CCONJ     2.865965
NUM       0.791277
INTJ      0.295006
X         0.012407
SYM       0.001379
Name: tag, dtype: float64

### Valores da coluna [pos]

In [9]:
colum_pos = df.pos
colum_pos.value_counts(normalize=True) * 100

PUNCT    15.587047
NOUN     14.868833
VERB     13.187025
ADP       9.323004
DET       9.048676
SPACE     8.475207
PRON      5.714010
ADV       5.667140
PROPN     3.994982
ADJ       3.869536
SCONJ     3.243683
AUX       3.054824
CCONJ     2.865965
NUM       0.791277
INTJ      0.295006
X         0.012407
SYM       0.001379
Name: pos, dtype: float64

### Valores da coluna [lemma]

In [10]:
colum_lemma = df.lemma
colum_lemma.value_counts(normalize=True) * 100

\n           8.472450
.            5.150191
o            5.074372
,            4.666327
que          2.809446
               ...
mediano      0.001379
aturava-o    0.001379
corado       0.001379
garço        0.001379
FIM          0.001379
Name: lemma, Length: 6497, dtype: float64

### Valores da coluna [texto]

In [11]:
colum_texto = df.texto
colum_texto.value_counts(normalize=True) * 100

\n              8.472450
.               5.150191
,               4.666327
que             2.707434
a               2.572338
                  ...
subdelegados    0.001379
demitidos       0.001379
preteridos      0.001379
suportá-lo      0.001379
FIM             0.001379
Name: texto, Length: 8766, dtype: float64

### Valores da coluna [morph]

In [12]:
colum_morph = df.morph
colum_morph.value_counts(normalize=True) * 100

Gender=Masc|Number=Sing                                                                  16.647141
Gender=Fem|Number=Sing                                                                   13.819401
Definite=Def|Gender=Masc|Number=Sing|PronType=Art                                         5.970184
Definite=Def|Gender=Fem|Number=Sing|PronType=Art                                          5.800198
Mood=Ind|Number=Sing|Person=3|Tense=Past|VerbForm=Fin                                     4.591919
                                                                                           ...
Case=Dat|Number=Sing|Person=3|PronType=Prs|VerbForm=Inf                                   0.002297
Case=Dat|Mood=Ind|Number=Plur,Sing|Person=1,3|PronType=Prs|Tense=Past|VerbForm=Fin        0.002297
Case=Dat|Mood=Cnd|Number=Sing|Person=1,3|PronType=Prs|VerbForm=Fin                        0.002297
Case=Dat|Gender=Fem|Mood=Ind|Number=Sing|Person=3|PronType=Prs|Tense=Imp|VerbForm=Fin     0.002297
Case=Dat|Gender=Masc|Number=Plur|Person=3|PronType=Prs|VerbForm=Inf                       0.002297
Name: morph, Length: 223, dtype: float64

### Valores da coluna [ent_type]

In [13]:
colum_ent_type = df.ent_type
colum_ent_type.value_counts(normalize=True) * 100

PER     60.949132
MISC    19.571960
LOC     16.749380
ORG      2.729529
Name: ent_type, dtype: float64

### Valores da coluna [is_punct]

In [14]:
colum_is_punct = df.is_punct
colum_is_punct.value_counts(normalize=True) * 100

False    84.412953
True     15.587047
Name: is_punct, dtype: float64

### Valores da coluna [dep]

In [15]:
colum_is_dep = df.dep
colum_is_dep.value_counts(normalize=True) * 100

punct           15.434030
dep              9.209964
case             9.178258
det              9.005941
nsubj            6.094484
ROOT             5.931818
obj              5.913897
advmod           5.165355
obl              4.156270
nmod             3.666892
mark             3.239547
conj             3.010711
cc               2.879751
cop              2.384858
amod             2.375209
xcomp            1.888587
parataxis        1.695593
advcl            1.644587
ccomp            1.359231
acl:relcl        1.286169
acl              0.678237
nummod           0.550034
fixed            0.548655
flat:name        0.496271
iobj             0.478350
aux              0.443887
appos            0.402531
expl             0.277085
csubj            0.249514
aux:pass         0.133717
nsubj:pass       0.077198
obl:agent        0.074441
discourse        0.039977
compound         0.019299
flat             0.008271
flat:foreign     0.001379
Name: dep, dtype: float64

In [16]:
newlist = [df[column].value_counts(normalize=True) * 100 for column in df.columns]

In [17]:
for column_name in df.columns:
    print(column_name)
    print(df[column_name].value_counts(normalize=True) * 100)

texto
\n              8.472450
.               5.150191
,               4.666327
que             2.707434
a               2.572338
                  ...
subdelegados    0.001379
demitidos       0.001379
preteridos      0.001379
suportá-lo      0.001379
FIM             0.001379
Name: texto, Length: 8766, dtype: float64
lemma
\n           8.472450
.            5.150191
o            5.074372
,            4.666327
que          2.809446
               ...
mediano      0.001379
aturava-o    0.001379
corado       0.001379
garço        0.001379
FIM          0.001379
Name: lemma, Length: 6497, dtype: float64
pos
PUNCT    15.587047
NOUN     14.868833
VERB     13.187025
ADP       9.323004
DET       9.048676
SPACE     8.475207
PRON      5.714010
ADV       5.667140
PROPN     3.994982
ADJ       3.869536
SCONJ     3.243683
AUX       3.054824
CCONJ     2.865965
NUM       0.791277
INTJ      0.295006
X         0.012407
SYM       0.001379
Name: pos, dtype: float64
tag
PUNCT    15.587047
NOUN     14.868833
VERB     13.187025
ADP       9.323004
DET       9.048676
SPACE     8.475207
PRON      5.714010
ADV       5.667140
PROPN     3.994982
ADJ       3.869536
SCONJ     3.243683
AUX       3.054824
CCONJ     2.865965
NUM       0.791277
INTJ      0.295006
X         0.012407
SYM       0.001379
Name: tag, dtype: float64
morph
Gender=Masc|Number=Sing                                                                  16.647141
Gender=Fem|Number=Sing                                                                   13.819401
Definite=Def|Gender=Masc|Number=Sing|PronType=Art                                         5.970184
Definite=Def|Gender=Fem|Number=Sing|PronType=Art                                          5.800198
Mood=Ind|Number=Sing|Person=3|Tense=Past|VerbForm=Fin                                     4.591919
                                                                                           ...
Case=Dat|Number=Sing|Person=3|PronType=Prs|VerbForm=Inf                                   0.002297
Case=Dat|Mood=Ind|Number=Plur,Sing|Person=1,3|PronType=Prs|Tense=Past|VerbForm=Fin        0.002297
Case=Dat|Mood=Cnd|Number=Sing|Person=1,3|PronType=Prs|VerbForm=Fin                        0.002297
Case=Dat|Gender=Fem|Mood=Ind|Number=Sing|Person=3|PronType=Prs|Tense=Imp|VerbForm=Fin     0.002297
Case=Dat|Gender=Masc|Number=Plur|Person=3|PronType=Prs|VerbForm=Inf                       0.002297
Name: morph, Length: 223, dtype: float64
ent_type
PER     60.949132
MISC    19.571960
LOC     16.749380
ORG      2.729529
Name: ent_type, dtype: float64
is_punct
False    84.412953
True     15.587047
Name: is_punct, dtype: float64
dep
punct           15.434030
dep              9.209964
case             9.178258
det              9.005941
nsubj            6.094484
ROOT             5.931818
obj              5.913897
advmod           5.165355
obl              4.156270
nmod             3.666892
mark             3.239547
conj             3.010711
cc               2.879751
cop              2.384858
amod             2.375209
xcomp            1.888587
parataxis        1.695593
advcl            1.644587
ccomp            1.359231
acl:relcl        1.286169
acl              0.678237
nummod           0.550034
fixed            0.548655
flat:name        0.496271
iobj             0.478350
aux              0.443887
appos            0.402531
expl             0.277085
csubj            0.249514
aux:pass         0.133717
nsubj:pass       0.077198
obl:agent        0.074441
discourse        0.039977
compound         0.019299
flat             0.008271
flat:foreign     0.001379
Name: dep, dtype: float64

In [18]:
for column_name in df.columns:
    print(column_name)
    print(df[column_name].value_counts())

texto
\n              6146
.               3736
,               3385
que             1964
a               1866
                ...
subdelegados       1
demitidos          1
preteridos         1
suportá-lo         1
FIM                1
Name: texto, Length: 8766, dtype: int64
lemma
\n           6146
.            3736
o            3681
,            3385
que          2038
             ...
mediano         1
aturava-o       1
corado          1
garço           1
FIM             1
Name: lemma, Length: 6497, dtype: int64
pos
PUNCT    11307
NOUN     10786
VERB      9566
ADP       6763
DET       6564
SPACE     6148
PRON      4145
ADV       4111
PROPN     2898
ADJ       2807
SCONJ     2353
AUX       2216
CCONJ     2079
NUM        574
INTJ       214
X            9
SYM          1
Name: pos, dtype: int64
tag
PUNCT    11307
NOUN     10786
VERB      9566
ADP       6763
DET       6564
SPACE     6148
PRON      4145
ADV       4111
PROPN     2898
ADJ       2807
SCONJ     2353
AUX       2216
CCONJ     2079
NUM        574
INTJ       214
X            9
SYM          1
Name: tag, dtype: int64
morph
Gender=Masc|Number=Sing                                                                  7247
Gender=Fem|Number=Sing                                                                   6016
Definite=Def|Gender=Masc|Number=Sing|PronType=Art                                        2599
Definite=Def|Gender=Fem|Number=Sing|PronType=Art                                         2525
Mood=Ind|Number=Sing|Person=3|Tense=Past|VerbForm=Fin                                    1999
                                                                                         ...
Case=Dat|Number=Sing|Person=3|PronType=Prs|VerbForm=Inf                                     1
Case=Dat|Mood=Ind|Number=Plur,Sing|Person=1,3|PronType=Prs|Tense=Past|VerbForm=Fin          1
Case=Dat|Mood=Cnd|Number=Sing|Person=1,3|PronType=Prs|VerbForm=Fin                          1
Case=Dat|Gender=Fem|Mood=Ind|Number=Sing|Person=3|PronType=Prs|Tense=Imp|VerbForm=Fin       1
Case=Dat|Gender=Masc|Number=Plur|Person=3|PronType=Prs|VerbForm=Inf                         1
Name: morph, Length: 223, dtype: int64
ent_type
PER     1965
MISC     631
LOC      540
ORG       88
Name: ent_type, dtype: int64
is_punct
False    61234
True     11307
Name: is_punct, dtype: int64
dep
punct           11196
dep              6681
case             6658
det              6533
nsubj            4421
ROOT             4303
obj              4290
advmod           3747
obl              3015
nmod             2660
mark             2350
conj             2184
cc               2089
cop              1730
amod             1723
xcomp            1370
parataxis        1230
advcl            1193
ccomp             986
acl:relcl         933
acl               492
nummod            399
fixed             398
flat:name         360
iobj              347
aux               322
appos             292
expl              201
csubj             181
aux:pass           97
nsubj:pass         56
obl:agent          54
discourse          29
compound           14
flat                6
flat:foreign        1
Name: dep, dtype: int64