In [1]:
import pandas as pd

In [19]:
contos_fluminenses_csv_path = '../data_warehouse/machado_de_assis/conto/contosFluminenses.csv'
df = pd.read_csv(contos_fluminenses_csv_path)
df.head()

,Unnamed: 0,text,lemma,pos,tag,morph,ent_type,is_punct,dep,sentiment
0,0,Contos,conto,NOUN,NOUN,Gender=Masc|Number=Plur,MISC,False,ROOT,0.0
1,1,Fluminenses,Fluminenses,ADJ,ADJ,Gender=Masc|Number=Plur,MISC,False,nummod,0.0
2,2,\n\n,\n\n,SPACE,SPACE,NaN,NaN,False,dep,0.0
3,3,ÍNDICE,ÍNDICE,NOUN,NOUN,Gender=Masc|Number=Plur,NaN,False,ROOT,0.0
4,4,\n,\n,SPACE,SPACE,NaN,NaN,False,dep,0.0

In [20]:
df.columns

Index(['Unnamed: 0', 'text', 'lemma', 'pos', 'tag', 'morph', 'ent_type',
       'is_punct', 'dep', 'sentiment'],
      dtype='object')

In [21]:
df = df.drop(columns=['Unnamed: 0', 'lemma', 'tag', 'morph', 'ent_type', 'is_punct', 'dep', 'sentiment'])

In [22]:
df.head()

          text    pos
0       Contos   NOUN
1  Fluminenses    ADJ
2         \n\n  SPACE
3       ÍNDICE   NOUN
4           \n  SPACE

In [23]:
df.shape

(72541, 2)

In [24]:
df.pos.value_counts()

PUNCT    11307
NOUN     10786
VERB      9566
ADP       6763
DET       6564
SPACE     6148
PRON      4145
ADV       4111
PROPN     2898
ADJ       2807
SCONJ     2353
AUX       2216
CCONJ     2079
NUM        574
INTJ       214
X            9
SYM          1
Name: pos, dtype: int64

In [25]:
df.pos.value_counts(normalize=True)

PUNCT    0.155870
NOUN     0.148688
VERB     0.131870
ADP      0.093230
DET      0.090487
SPACE    0.084752
PRON     0.057140
ADV      0.056671
PROPN    0.039950
ADJ      0.038695
SCONJ    0.032437
AUX      0.030548
CCONJ    0.028660
NUM      0.007913
INTJ     0.002950
X        0.000124
SYM      0.000014
Name: pos, dtype: float64

In [28]:
df = df[df['pos'] == 'NOUN']
df.head()

      text   pos
0   Contos  NOUN
3   ÍNDICE  NOUN
5     MISS  NOUN
14   PRETO  NOUN
24   VIÚVA  NOUN

In [29]:
df.shape

(10786, 2)

In [34]:
df.text.value_counts().head(10)

casa      176
carta     142
dia       122
tempo     114
amor      114
rapaz     109
marido     97
homem      95
olhos      92
coisa      91
Name: text, dtype: int64

In [35]:
text_freq = df.text.value_counts(normalize=True) * 100
text_freq.head(10)

casa      1.631745
carta     1.316521
dia       1.131096
tempo     1.056926
amor      1.056926
rapaz     1.010569
marido    0.899314
homem     0.880771
olhos     0.852958
coisa     0.843686
Name: text, dtype: float64